{% extends "base.html" %}

{% block content %}
<h1>Добавление ответа</h1>
<div class="col-md6 border rounded">
    <h2>{{news_title}}</h2>
    <div>
        {{news_content}}
    </div>
    <div>
        Автор - {{news_name}}, Дата написания - {{news_date}}
    </div>
</div>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}