
{% extends "base.html" %}

{% block content %}
            <ul>
                <a href="#Krasnoyarsk">Красноярск</a></br>
                <a href="#Magnitogorsk">Магнитогорск</a></br>
                <a href="#Norilsk">Норильск</a></br>
                <a href="#Lipetsk">Липецк</a></br>
                <a href="#Cherepovets">Череповец</a></br>
                <a href="#Novokuznetsk">Новокузнецк</a></br>
                <a href="#Nizhny_Tagil">Нижний Тагил</a></br>
                <a href="#Omsk">Омск</a></br>
                <a href="#Chelyabinsk">Челябинск</a></br>
                <a href="#Dzerzhinsk">Дзержинск</a></br>
                <a href="#Bratsk">Братск</a></br>
                <a href="#Chita">Чита</a></br>
                <a href="#Mednogorsk">Медногорск</a></br>
                <a href="#Novocherkassk">Новочеркасск</a></br>
                <a href="#Asbestos">Асбест</a></br>
	    </ul>
	    <p id="Krasnoyarsk" align="justify">
		<b>Красноярск</b></br>
		«Черное небо» над городом – печально известный красноярцам феномен. Время от времени, когда стоит сухая 
		безветренная погода, в воздухе повисает мелкодисперсная пыль, разбавленная автомобильными выхлопами и вредными 
		выбросами от многочисленных промышленных предприятий города (большинство которых было основано еще в 50-х годах, 
		когда об экологии не задумывались). </br>
	    </p>
	    <img src={{krasnoyarsk}}>
	    <p id="Magnitogorsk" align="justify">
		<b>Магнитогорск</b></br>
		Крупный промышленный город? Плохая циркуляция воздуха из-за географического положения города? На все вопросы ответы 
		утвердительные – неудивительно, что долгие годы Магнитогорск входил в число городов с самым «грязным» воздухом. 
		Работа по очистке воздуха уже ведется. Главный «виновник», Магнитогорский меткомбинат, постепенно переходит на 
		новое оборудование, соответствующее последним экологическим стандартам. Была построена новая агломерационная фабрика 
		(часть металлургического цикла, ответственная за подготовку шихты – материала для переработки), а также переделана одна
		 из доменных печей, что позволило сократить число выбросов более чем на 2 тонны. Конечно, в масштабах города число 
		мизерное, однако лиха беда начало. А экологи присвоили воздуху Магнитогорска просто «высокий» уровень загрязнения, 
		тогда как все предыдущие годы он был «очень высокий».</br>
	    </p>
	    <img src={{magnitogorsk}}>
	    <p id="Norilsk" align="justify">
		<b>Норильск</b></br>
		Топ-5 российских городов с самым загрязненным воздухом открывает самый северный город мира, и одновременно зона 
		экологического бедствия. И причина не только в утечке (в конце мая из бака с дизельным топливом на ТЭЦ вылилось в 
		окружающую среду около 21 тыс. тонн дизельного топлива), но и в гигантском количестве выброса от металлургических 
		предприятий, ТЭЦ, автотранспорта, частных котельных и печного отопления. Причем Норильск в этом отношении бьет все 
		рекорды. Если в Красноярске (пункт 7 рейтинга) за год выброшено в атмосферу около 190 тысяч тонн вредных веществ, 
		то в Норильске – 1,7 млн тонн. Эту поражающую воображение цифру чиновники от экологии собираются уменьшить до 75%, 
		причем надеются сделать это еще до 2024 года.</br>
	    </p>
	    <img src={{norilsk}}>
	    <p id="Lipetsk" align="justify">
		<b>Липецк</b></br>
		Это не только крупный промышленный город, специализирующийся на черной металлургии, но еще и мощный транспортный узел, 
		расположенный между двумя трассами федерального значения, а также центр разветвленной сети железнодорожного сообщения. 
		Как вы понимаете, свежести и чистоты атмосфере Липецка эта ситуация не добавляет. Правда, ситуация с очисткой воздуха в 
		городе скорее благоприятная, местная администрация действительно прилагает все усилия, чтобы улучшить экологию. За последние 
		17 лет индекс загрязненности воздуха упал практически в 10 раз (с 25 всего до 2,6 баллов)! Как утверждают эксперты, 
		добиться этого удалось путем оснащения металлургического комбината – главного «виновника» загрязнений – новейшими технологиями 
		по очистке воздуха, которые позволили сократить выбросы более чем вполовину. Но липчане не собираются останавливаться на 
		достигнутом, к 2022 году выбросы должны уменьшиться еще на 9%. Ситуация настолько благоприятна, что поговаривают даже об 
		исключении Липецка из программы «Чистый воздух».</br>
	    </p>
	    <img src={{lipetsk}}>
	    <p id="Cherepovets" align="justify">
		<b>Череповец</b></br>
		Несмотря на небольшое население (чуть более 300 тыс. человек), Череповец – крупный промышленный центр России, в котором находится 
		второй по величине сталелитейный комбинат в стране. Кроме того, там действуют еще два индустриальных завода, категория экологической 
		опасности которых наивысшая, первая. А если сюда добавить, что помимо этих трех предприятий в городе еще около 300 заводов… 
		Неудивительно, что в городе на втором месте по числу заболеваний находится рак, причем рак легких.</br>
	    </p>
	    <img src={{cherepovets}}>
	    <p id="Novokuznetsk" align="justify">
		<b>Новокузнецк</b></br>
		Уже многие годы этот крупный промышленный сибирский центр входит в список городов РФ с самым «плохим» воздухом. Меры принимаются, 
		но пока что результат не слишком обнадеживает: по сравнению с 2017 годом удалось снизить число выбросов всего на 8%. Планируется, 
		что к 2024 году благодаря программе «Чистый воздух» получится улучшить качество воздуха еще на 12%. Помимо контроля за деятельностью 
		основных четырех «загрязнителей» — крупных промышленных предприятий, специализирующихся на металлургии, машиностроении, добыче угля 
		и энергетике, – в Новокузнецке хотят снизить количество выбросов и за счет выхлопных газов. Поэтому мэрия купила несколько автобусов 
		и троллейбусов на природном газе. Правда, из-за пандемии, падения цен на уголь и соответственно дефицита бюджета эту инициативу пришлось заморозить.</br>
	    </p>
	    <img src={{novokuznetsk}}>
	    <p id="Nizhny_Tagil" align="justify">
		<b>Нижний Тагил</b></br>
		Слова «легко дышать» вызывают у жителей этого города иронические улыбки. Дышать в Нижнем Тагиле никогда не было легко. В советские времена, 
		когда было построено подавляющее большинство «тяжелых» местных предприятий, об экологии не слишком пеклись, так что ежегодно в воздух 
		выбрасывалось огромное количество пыли и вредных выбросов. Бывалые тагильчане по цвету «лисьих хвостов» мартенов могли определить, что 
		на этот раз за выброс: например, если оттенок фиолетовый, то это ванадий. Приезжих шокировали как разноцветные полосы в небе, так и цветной 
		слоистый снег. Уменьшению числа выбросов способствовало закрытие нескольких «тяжелых» предприятий в начале 2000-х годов. Однако их еще 
		осталось предостаточно – металлургический комбинат, вагоностроительный завод и так далее. По программе «Чистый воздух» планируется снизить 
		число выбросов примерно на 20% по сравнению с 2017 годом. А пока что снижение составило около 11%.</br>
	    </p>
	    <img src={{nizhny_tagil}}>
	    <p id="Omsk" align="justify">
		<b>Омск</b></br>
		Причина плохого состояния воздуха в городе – эффективные управленцы. За весь прошлый год прокуратурой Омска было зафиксировано более 700 
		нарушений закона о загрязнении воздуха. Предприятия осуществляли несанкционированные выбросы, в нескольких случаях вообще не стояли на учете 
		как потенциальные источники загрязнения, не обращали внимание на требования по снижению числа выбросов в случае неблагоприятных погодных условий 
		и т. д. Самое печальное, что примерно в половине случаев виновных не удалось найти. Также проверки выявили множество нарушений со стороны тех,
		 кто должен был следить за качеством воздуха: виновных не искали, а если находили – не подвергали наказанию.</br>
	    </p>
	    <img src={{omsk}}>
	    <p id="Chelyabinsk" align="justify">
		<b>Челябинск</b></br>
		Сомнительное звание самого «грязного» города России по качеству воздуха по итогам 2020 года уходит к Челябинску. Это крупный промышленный город, 
		по количеству производимого занимающий 13-е место в России. Причем производство это тяжелое, металлургия и машиностроение. Именно эти 
		две отрасли являются главными загрязнителями городского воздуха. Ухудшается положение еще и тем, что метеоусловия Челябинска нельзя 
		назвать благоприятными для горожан. Это значит, что движение воздуха настолько слабое, что в нижних слоях атмосферы скапливаются выбросы:
		 промышленные, выхлопы автомобилей, пар, пыль и дым от периодических пожаров на находящейся в черте города свалки. И все это повисает 
		над городом плотным одеялом.</br>
	    </p>
	    <img src={{chelyabinsk}}>
	    <p id="Dzerzhinsk" align="justify">
		<b>Дзержинск</b></br>
		Степень загрязнения воздуха в Дзержинске характеризуется как высокая. Здесь в промышленной зоне содержание опасного для здоровья фенола 
		местами в 700 раз превышает ПДК. Систематическое превышение в воздухе норм содержания фенола наблюдается в городе. Жители жалуются на то, 
		что на улицах присутствует химический запах. Помимо этого, воздух Дзержинска выше всех допустимых норм загрязнён:</br>
		1. аммиаком,</br>
		2. диоксидом азота,</br>
		3. взвешенными веществами.</br>
	    </p>
	    <img src={{dzerzhinsk}}>
	    <p id="Bratsk" align="justify">
		<b>Братск</b></br>
		Подавляющее количество вредных веществ в воздух Братска поступает из труб промышленных предприятий, а их в этом сибирском городе множество.
		 Есть и цветная металлургия, металлообработка, ГЭС и ТЭЦ, а также деревообрабатывающий комбинат. Как выяснила проверка, многие 
		предприятия относятся к вопросу экологии спустя рукава, эффективные собственники стараются снизить издержки и увеличить прибыль. 
		Например, прошлая проверка обнаружила, что на многих воздуховодах не стоят заглушки – это же денег стоит. Также комиссия обнаружила, 
		что газоочистные сооружения работают буквально вполсилы, меры по очистке воздуха не выполняются, а электролизеры (устройства для получения газа) 
		стоят открытые и беспрепятственно выбрасывают вредные вещества в атмосферу.</br>
	    </p>
	    <img src={{bratsk}}>
	    <p id="Chita" align="justify">
		<b>Чита</b></br>
		В отличие от прочих проблемных городов рейтинга, причина загрязнения воздуха в Чите – отнюдь не тяжелая промышленность. Да, когда-то 
		там был собственный камвольный комбинат, но он прекратил свое существование еще три года назад. Сейчас главное промышленное предприятие 
		– это ТЭЦ. Однако в плохом качестве воздуха виновата не только она. Дело в том, что город расположен очень неудачно (в котловине), со 
		всех сторон его окружают сопки, что препятствует естественному движению воздуха. Это значит, что частицы пыли, дым от многочисленных 
		котельных и частных домов, которые топятся углем, а также выхлопы от автомобилей, не сносятся в сторону, а так и висят над городом.</br>
	    </p>
	    <img src={{chita}}>
	    <p id="Mednogorsk" align="justify">
		<b>Медногорск</b></br>
		Открывает список самых «грязных» городов России 2020 года Медногорск, расположенный в Оренбургской области. Это один из так называемых 
		«моногородов» — поселений, возникших вокруг какого-нибудь крупного предприятия или месторождения, чтобы персоналу было где жить, а их 
		семьям – где учиться и делать покупки. Медногорск вырос вокруг медно-колчеданного месторождения, на котором в 30-е годы был возведен 
		медно-серный комбинат. После закрытия рудника комбинат продолжил работать, однако перешел на привозное сырье. В городе есть еще один 
		крупный завод, оставшийся еще с советских времен – «Уралэлектро». Но «промышленный» воздух – не единственная экологическая проблема 
		Медногорска. Рудник оставил после себя наследие – карьер, в котором добывали медь. За полвека в него натекло воды, которая окрасилась 
		в ядовито-зеленый цвет и начала просачиваться в грунтовые воды, постепенно их отравляя. В местной речке эксперты-экологи обнаружили 
		рекордные значения меди и цинка, превышающие нормативы более чем в 30 раз!</br>
	    </p>
	    <img src={{mednogorsk}}>
	    <p id="Novocherkassk" align="justify">
		<b>Новочеркасск</b></br>
		Состояние окружающей среды в г. Новочеркасске определяется рядом специфических факторов, таких как: высокая концентрация промышленных 
		предприятий в одном районе города; насыщенность движения автотранспорта на отдельных магистралях; недостаточное количество зеленых 
		насаждений; высокая степень подтопления в основном промышленного района города грунтовыми водами.</br>
		Основными загрязнителями окружающей среды в городе являются предприятия: Филиал ОАО «ОГК-6» Новочеркасская ГРЭС («Шестая генерирующая 
		компания оптового рынка электроэнергии»), ОАО «ЭНЕРГОПРОМ-НЭЗ» (Новочеркасский электродный завод»), ОАО «Новочеркасский завод 
		синтетических продуктов», ООО «ПК «Новочеркасский электровозостроительный завод», «Актис», которые расположены в северной части города.</br>
	    </p>
	    <img src={{novocherkassk}}>
	    <p id="Asbestos" align="justify">
		<b>Асбест</b></br>
		Вместе с тем по данным статистики 2012 года Асбест занимает 5-е место в рейтинге самых грязных городов России по объёму выбросов в атмосферу, 
		98% которых приходится на предприятия асбестодобывающей и асбестоперерабатывающей промышленности. Неблагоприятная ситуация складывается 
		и вокруг захоронения отходов, поскольку системы сбора отходов в городе попросту не существует, и предприятия не утруждают себя вывозить 
		вредные вещества на специальные полигоны, а попросту оставляют их в лесных массивах поблизости города. Власти Свердловской области также 
		признают назревшие экологические проблемы.</br>
		Тот факт, что власти открыто признают неблагоприятную экологическую обстановку в Асбесте, даёт реальные плоды: город - один из немногих, 
		который действительно показывает положительную динамику в плане уменьшения выбросов, а за последние 20 лет среди жителей Асбеста не было 
		выявлено ни одного случая заболевания асбестозом. В конце 2016 года администрация Асбестовского городского округа заявила, что за прошедший 
		год объём вредных выбросов со стороны предприятий составил всего 8,1 тысячи тонн (против 330-ти в 2012-м году). Подозрительно удивительная 
		цифра, но хочется верить, что она действительно такова!</br>
	    </p>
	    <img src={{asbestos}}>
	    </br>
{% endblock %}