

{% extends "base.html" %}

{% block content %}
            
	    <ul>
                <a href="#world_day">Всемирный день охраны окружающей среды</a></br>
                <a href="#goal">Цели и средства</a></br>
                <a href="#wwf">Всемирный фонд дикой природы (WWF)</a></br>
                <a href="#greenpeace">Greenpeace</a></br>
                <a href="#unep">ЮНЕП</a></br>
                <a href="#animals">Всемирное общество защиты животных</a></br>
                <a href="#food">Пищевые отходы</a></br>
                <a href="#water">Водные ресурсы</a></br>
                <a href="#not_food">Непищевые отходы</a></br>
	    </ul>
            <p align="justify">
		<i>Ничто не влияет на состояние природы так, как деятельность человека, никакие стихийные бедствия не 
	    	оказывают более серьезного и долговременного эффекта на окружающую среду. Выбросы токсичных отходов 
	    	отравляют воду, воздух и почву и приводят к гибели целых экосистем, вырубка леса и браконьерство ведут 
	    	к вымиранию многих видов животных. Ситуация ухудшается по мере развития технологий. Расскажем об 
	    	организациях по охране окружающей среды, их задачах, целях и средствах, а также о том, что для охраны 
	    	природы сегодня может сделать каждый.</i>
	    </p>
	    <p id="world_day" align="justify">
	    	<b>Всемирный день охраны окружающей среды</b></br>
	    	Охрана окружающей среды не была приоритетом вплоть до середины ХХ века, хотя к тому моменту антропогенная 
	    	деятельность уже давно оказывала самое негативное влияние на природу. Лишь на 27 сессии Генеральной 
	    	ассамблеи ООН был впервые всерьез поднят данный вопрос. Тогда же в системе ООН была создана новая организация
	    	 — Программа ООН по окружающей среде (ЮНЕП). В том же году, в день начала работы Стокгольмской конференции по 
	    	проблемам окружающей среды, был учрежден особый праздник — Всемирный день окружающей среды. Он отмечается 
	    	каждый год 5 июля и проходит под эгидой ЮНЕП.</br>
	    	Цель этого праздника — напомнить каждому жителю Земли о том, что планета — наш общий дом и ее состояние зависит
	    	 от действий каждого из нас. По всему миру в этот день проходят экологические акции — от марафонов, 
	    	велопробегов и концертов до субботников.</br>
	   	 Каждый праздник посвящен определенной тематике и проходит под своим девизом. Самый первый Всемирный день 
	    	охраны окружающей среды проходил под лозунгом «Только одна Земля». В последние годы тематика стала более узкой, 
	    	и каждый год праздник посвящается какому-то одному аспекту защиты экологии, например повышению уровня моря 
	    	вследствие глобального потепления, незаконному отлову диких животных, сохранению лесов, зеленой экономике и так далее.</br>
	    	Однако вспоминать о хрупкости окружающей среды нужно не раз в год, а ежедневно. Праздник лишь привлекает внимание 
	    	к проблеме, но решать ее следует системно. Именно поэтому по всему миру ведется активная работа по защите
	     	и сохранению природных богатств планеты.
	    </p>
	    <p id='goal' align="justify">
		<b>Цели и средства</b></br>
		Перед защитниками природы в настоящее время стоит немало проблем. Антропогенная деятельность разнообразна, и так 
		же разнообразно ее влияние на нашу среду обитания. Вот основные цели, на которых сегодня сосредоточено внимание экологов:</br>
		1. ограничение выбросов токсичных отходов, отравляющих воду и почву;</br>
		2. создание заповедников для защиты уникальных природных комплексов и экосистем;</br>
		3. ограничение охоты и рыболовства для сохранения исчезающих видов, внедрение новых методов промысла, наносящих 
		минимальный вред природе;</br>
		4. ограничение выброса мусора и поиск путей его переработки.</br>
		Очень сложно достичь этих целей, действуя только на местном уровне. Здесь необходимо международное сотрудничество, 
		поскольку экология не знает границ.</br>
		Для защиты природы было разработано множество международных соглашений. Пожалуй, самым известным можно назвать Киотский
		 протокол, который обязал развитые страны строго контролировать объем выбросов углекислого газа для предотвращения 
		появления парникового эффекта, влияющего на климат во всем мире. Кроме того, была принята Конвенция ООН по морскому праву, 
		направленная на защиту морей, Монреальский протокол, который ограничивает производство и использование веществ, разрушающих 
		озоновый слой атмосферы, а также Конвенция о биологическом разнообразии, которая направлена на охрану и рациональное 
		использование ресурсов живой природы, и еще десятки важных документов.</br>
		Россия подписала более 20 подобных документов. Территория нашей страны огромна, и ответственность, которая лежит на нас,
		 соответствует масштабам страны.</br>
		К сведению</br>
		В России разработкой экологического законодательства занимаются Комитет по экологии и Комитет по природопользованию и 
		сырьевым ресурсам, входящие в состав Госдумы РФ, а также Отдел природопользования и защиты окружающей среды. Главные 
		исполнительные органы в этой сфере — Министерство природных ресурсов РФ и Госкомэкология. Координационная деятельность 
		лежит на Правительственной комиссии по вопросам природопользования и охраны окружающей среды.</br>
		Однако все эти органы действуют не в одиночку. С ними сотрудничают и неправительственные природоохранные организации.</br>
	    </p>
	    <p id='wwf' align="justify">
		<b>Всемирный фонд дикой природы (WWF)</b></br>
		Это самая крупная международная экологическая организация, объединяющая более пяти миллионов сторонников по всему миру. 
		Офисы WWF действуют более чем в 100 странах мира, в том числе и в России. Фонд осуществляет экологический мониторинг, 
		разрабатывает и поддерживает природоохранные программы, работает в тесной связке с законодательной и исполнительной властью. 
		Основные направления деятельности — защита редких видов (например, в России WWF ведет проекты по охране зубров, переднеазиатских 
		леопардов, ирбисов и других исчезающих животных), расширение заповедников и заказников, внедрение принципов рационального 
		природопользования. WWF России реализует морскую, лесную, климатическую и другие программы. 
	    </p>
	    <p id='greenpeace' align="justify">
		<b>Гринпис (Greenpeace)</b></br>
		Независимая международная экологическая организация, которая прославилась заметными общественными акциями. Сейчас деятельность 
		Гринпис направлена в основном на защиту биологического разнообразия, сокращение выброса газов в атмосферу и производства 
		токсичных отходов, а также против развития и использования ядерных технологий. Акции протеста, которые регулярно устраивают 
		сторонники организации, создали ей неоднозначную репутацию. Но это не умаляет достижений Гринпис. Например, в России организация 
		реализует свою лесную кампанию, в рамках которой волонтеры проводят рейды и тушат пожары в лесах, высаживают молодые деревца. 
		Немало сделано и для внедрения экологичных методов сбора, сортировки и переработки мусора. 
	    </p>
	    <p id='unep' align="justify">
		<b>ЮНЕП</b></br>
		Уже упоминавшаяся Программа ООН (ЮНЕП) — главный орган ООН по защите окружающей среды и одна из самых масштабных природоохранных 
		организаций мира. Ее деятельность в основном направлена на мониторинг экологии, разработку законов и правил, а также 
		просветительскую деятельность. В частности, именно благодаря ЮНЕП были приняты нормы и правила перевозки опасных и токсичных веществ. 
		Эта организация активно участвовала в разработке многих международных конвенций, посвященных охране окружающей среды. ЮНЕП действует
		 и на практическом уровне: например, организация поддерживает и спонсирует внедрение технологий, позволяющих использовать 
		возобновляемые источники электроэнергии. Существует программа займов на приобретение солнечных панелей, которая была запущена в Индии,
		 а теперь проводится и в других развивающихся странах. 
	    </p>
	    <p id='animals' align="justify">
		<b>Всемирное общество защиты животных</b></br>
		Эта организация борется за этичное обращение с животными — как дикими, так и домашними. В разные годы организация протестовала против 
		китобойного промысла, корриды, содержания дельфинов в неволе — в дельфинариях и зоопарках. И добилась значительных успехов, например 
		благодаря деятельности ВОЗЖ в Пакистане была запрещена травля медведей. Сейчас ВОЗЖ разрабатывает Всемирную декларацию благополучия 
		животных, которая будет представлена в ООН. Главный офис ВОЗЖ расположен в Лондоне, а его отделения имеются в 13 странах, но 
		деятельность общества охватывает более 150 государств мира. 
	    </p>
	    <p id='food' align="justify">
		<b>Пищевые отходы</b></br>
		Количество пищевых отходов означает, что более четверти мировых ресурсов Земли используется впустую. Растет численность населения, 
		а соответственно, и спрос. Поэтому вопрос сокращения отходов становится все актуальнее.</br>
		Каждый год во всем мире выбрасывают около 1,4 млрд т или треть произведенного продовольствия. Это приводит к потере объемов воды, 
		эквивалентных годовому стоку Волги.</br>
		Пищевые отходы добавляют в атмосферу более 3,3 млрд т парниковых газов, не в последнюю очередь за счет того, что гниение пищи 
		приводит к выбросам метана.</br>
	    </p>
	    <div><img src="{{ url_for('static', filename='food.png') }}"></div>
	    <p align="justify">
		<u><i>Что мы можем сделать?</i></u></br>
		<i>Минимизировать отходы.</i> То есть не покупать скоропортящиеся продукты впрок, чтобы не приходилось их выбрасывать.</br>
		<i>Не покупать продукты с огромным сроком годности.</i> Ведь чем больше срок хранения продукта, тем сильнее его воздействие на 
		окружающую среду, ведь для его доставки требуется больше ресурсов.</br>
		<i>Кормить бедных.</i> Хорошую еду, которую планировалось выбросить, иногда можно передать нуждающимся.</br>
		<i>Кормить животных.</i> Пищу, непригодную к употреблению человеком, можно скормить свиньям и курам.</br>
	    </p>
	    <p id="water" align="justify">
		<b>Водные ресурсы</b></br>
		Около 97,5% воды в мире — соленая. Остальное — пресная, большая часть которой заперта во льдах. Только 0,3% доступно для использования.</br>
		Дефицит воды уже повлиял на жизнь 1,2 млрд человек на всех континентах. Еще 1,6 млрд испытывают сложности из-за проблем добычи 
		и транспортировки воды. Эти показатели растут не в последнюю очередь из-за того, что спрос на воду увеличивается в два раза быстрее,
		 чем численность населения, что приводит к долговременному дефициту.</br>
	    </p>
	    <div><img src="{{ url_for('static', filename='water.png') }}"></div>
	    <p align="justify">
		И хотя сейчас много воды тратится впустую, загрязняется или нерационально используется, на Земле ее пока достаточно для 
		удовлетворения наших потребностей. В предстоящие десятилетия жизненно важной задачей будет выработка более эффективных 
		способов использования воды.</br>
		<b><i>Когда колодец высыхает, мы узнаём ценность воды.</b></i></br>
		<b><i>Бенджамин Франклин</b></i></br>
		Каждый житель Великобритании использует в среднем 145 л воды ежедневно для приготовления пищи, уборки и стирки. 
		Но если учесть «виртуальную» воду (вся вода, которая используется при производстве предметов, которые есть в нашем обиходе), 
		цифра составит 3400 л в день. Изделия из хлопка и кожи имеют значительный водный след. Чем дольше эти товары используются, 
		тем меньше их воздействие на природу.</br>
	    </p>
	    <div><img src="{{ url_for('static', filename='water2.png') }}" title="<i>Сколько воды используется при изготовлении разных вещей.<i>"></div>
	    <p align="justify">
		<i><u>Что мы можем сделать?</u></i>
		<i>Рационально использовать воду.</i> Это просто. Выключайте кран, когда чистите зубы или намыливаете голову. Используйте воду, 
		в которой принимали ванну для других бытовых нужд (мытье полов, обуви и т.д)</br>
		<i>Установить дома фильтр и не покупать бутилированноую воду.</i> Ведь 877 пластиковых бутылок выбрасываются каждую секунду.
		 А для разложения одной пластиковой бутылки требуется 700 лет.</br>
	    </p>
	    <p id="not_food" align="justify">
		<i>90 % плавающего в океане мусора — пластик.</i></br>
		<b>Непищевые отходы</b></br>
		Отходы в богатых странах Запада и в развивающихся государствах очень разные. Например, в нигерийском Лагосе в мусорные баки 
		попадает гораздо больше органических отходов, чем в штате Нью-Йорк. Жители Нью-Йорка выбрасывают намного больше пластика. 
		В целом американские потребители ежедневно производят примерно втрое больше отходов на душу населения, чем жители Лагоса 
		с заметно меньшими доходами.</br>
	    </p>
	    <div><img src="{{ url_for('static', filename='not_food.png') }}"></div>
	    <p align="justify">
		<i><u>Что мы можем сделать?</u></i></br>
		<i>Определить источник своих отходов.</i> Выявить то, что можно переработать — дома или в пункте сбора.</br>
		<i>Не выбрасывать ненужную одежду и обувь в мусорку.</i> В мире полно людей, которым еще пригодятся ваши вещи. 
		Отдайте их на благотворительность, либо в пункты переработки (сегодня они открыты во многих городах).</br>
		<i>Покупать осмысленно.</i> Избегать ненужной упаковки и одноразовых товаров.</br>
		<i>Не использовать пластиковые пакеты.</i> Лучше приобрести прочную многоразовую сумку (рюкзак) для похода за 
		покупками (или сшить такую из старой одежды).</br>
	    </p>
{% endblock %}