
{% extends "base.html" %}

{% block content %}
            <ul>
                <a href="#numbers">Немного цифр</a></br>
                <a href="#square">Площадь российских полигонов</a></br>
                <a href="#situation">Ситуация в России</a></br>
                <a href="#amount_of_garbage">Сколько мусора производит типичный россиянин</a></br>
                <a href="#place">Куда этот мусор девается?</a></br>
                <a href="#recycling">Переработка отходов в России</a></br>
                <a href="#amount_of_polygons">Количество полигонов, внесённых в реестр Роспотребнадзора</a></br>
                <a href="#people_think">Что об этом думают россияне?</a></br>
                <a href="#future">Мусор в России будущего</a></br>
                <a href="#the_biggest_polygons">Самые большие полигоны мусора</a></br>
	    </ul>
	    <p id="numbers" align="justify">
		<b>По данным Росприроднадзора, российские свалки занимают 4 млн гектаров.</b></br>
		Это равняется размеру 4 таких крупнейших островов как Кипр, площади Нидерландов 
		или Швейцарии. Статистика утверждает, что ежегодно количество мусора увеличивается, 
		соответственно растёт размер площадей мусорных свалок. Каждый год новые территории 
		площадью 0,4 млн гектар, эквивалентные по размеру Москве и Петербургу, становятся 
		полигоном для отходов жизнедеятельности. Если такие темпы сохранятся, то к 2050 году 
		свалки займут 1% площади России.  Предполагается, что через 10 лет площадь, отведённая 
		под свалки, увеличится в 2 раза и составит 8 млн гектар – размер 2 Азовских морей.
	    </p>
	    <p id="square" align="justify">
		<b>Площадь российских свалок</b></br>
		И площадь разных стран и Москвы
	    </p>
	    <div><img src="{{ url_for('static', filename='square.png') }}"></div>
	    <p id="situation" align="justify">
		По данным Росстата, в прошлом году российская экономика сгенерировала 7,3 млрд тонн отходов. 
		Чтобы перевезти их все за один раз по железной дороге, нужен грузовой поезд длиной 1,5 млн 
		километров — это примерно четыре расстояния от Земли до Луны.</br>
		Правда, почти все это — промышленные 
		отходы, которые не являются мусором в обычном понимании. Например, статистики считают отходами горную породу, 
		которую вынимают при добыче руды, а потом складывают в отвалы. Предприятия, которые занимаются добычей полезных 
		ископаемых, производят основную часть отходов — 6,9 млрд тонн. Три четверти этого показателя — угольная промышленность.</br>
		Мусор в привычном понимании, который коммунальные службы вывозят на свалки или специальные перерабатывающие заводы, 
		называют  твердыми коммунальными отходами (ТКО) и промышленными отходами. В России ежегодно образуется 
		около 60 млн тонн таких отходов. Количество бытового мусора тоже растет: за двадцать лет производство 
		ТКО выросло вдвое. В Росприроднадзоре говорят, что это связано с активным использованием упаковочных
		 материалов: полиэтилена, пластика, бумаги. Правда, какую долю в общем объеме мусора занимает упаковка, точно не известно.
	    </p>
	    <p id="amount_of_garbage" align="justify"> 
		<b>Сколько мусора производит типичный россиянин</b></br>
		Среднестатистический россиянин производит в год около двух кубометров мусора — примерно 400 кг. 
		Это около 1,1 кг в день. Если верить статистике Всемирного банка, на общемировом фоне Россия выглядит 
		не так уж и плохо: в целом по планете этот показатель составляет 1 кг. Больше всего мусора производят 
		жители Исландии: 4,3 кг в день. Меньше всего — граждане Лесото: всего 100 г.</br>
		Глобальная карта отходов, отчет Всемирного банка на английском языке
		Более четверти объема мусорного ведра россиянина занимают пищевые отходы, еще почти 20% — бумага и картон,
		 17% — стекло. В разных странах эти пропорции сильно различаются: в Китае и Бразилии на помойку в 
		основном отправляются пищевые отходы, в США — бумага, а в Великобритании — пластик.
	    </p>
	    <div><img src="{{ url_for('static', filename='amount_of_garbage.png') }}"></div>
	    <p id="place" align="justify">
		<b>Куда этот мусор девается</b></br>
		Большую часть бытового мусора в России вывозят на полигоны. Сейчас в стране насчитывается около 
		15 тысяч легальных полигонов. Сколько отходов россияне выбрасывают в ближайшей лесопосадке — никто не считает.</br>
		По данным Министерства природных ресурсов, перерабатывают только 8% отходов. Например, ежегодно 
		на свалки отправляется 9 млн тонн макулатуры, 2 млн тонн пластика и 0,5 млн тонн стекла — все это 
		могло бы перерабатываться, но ни системы сбора таких отходов, ни специальных заводов в стране просто нет.</br>
		Стратегия развития промышленности по обработке, утилизации и обезвреживанию отходов производства 
		и потребления на период до 2030 года.</br>
		Еще одна проблема — пищевые отходы, на долю которых приходится больше четверти всех ТКО. По данным
		 Ассоциации компаний розничной торговли, 5% такого мусора — 700 тысяч тонн в год — это просрочка из
		 магазинов. Продукты, у которых подходит к концу срок годности, можно бы было раздавать нуждающимся,
		 но выгоднее их уничтожать. Налоги, которые ретейлеры должны заплатить, передавая товары на благотворительность,
		 могут достигать 40% от их стоимости. А просрочку отдавать на благотворительность нельзя по закону. Поэтому утилизировать продукты дешевле.
	    </p>
	    <div id="recycling">
		<img src="{{ url_for('static', filename='recycling.png') }}">
	    </div>
	    <p id="amount_of_polygons" align="justify">
		<b>Количество полигонов, внесённых в реестр Роспотребнадзора</b></br>
		Включать в реестр Росприроднадзора потенциально опасные предприятия начали с 1 января 2015 года.</br>
		Код объекта негативного воздействия на окружающую среду После отнесения объекта НВОС к той или иной группе
		 ему присваивается кодовое обозначение. Порядок формирования таких кодов и присвоения их утвержден Приказом
		 Минприроды России от 23.12.2015 № 553. Код является уникальным и не повторяющимся во времени. Его присвоение 
		происходит в момент регистрации и сохраняется до ликвидации (снятия с учета).</br>
		 Код формируется согласно следующей структуре:</br>
		 |А|А|–|Б|Б|Б|Б|–|В|В|В|В|В|В|–|Г|, где АА - цифровой код субъекта.</br>
		 Если объект находится в территориальных водах РФ или внутреннем море, то указывается код “М” и код моря:</br>
		<ul>
		    <li>А - Азовское море</li>
		    <li>Б - Балтийское</li>
		    <li>В - Баренцево</li>
		    <li>Г - Белое</li>
		    <li>Д - Берингово</li>
		    <li>Е - Восточно-Сибирское</li>
		    <li>Ж - Карское</li>
		    <li>З - Каспийское</li>
		    <li>И - Лаптевых</li>
		    <li>К - Охотское</li>
		    <li>Л - Черное</li>
		    <li>М - Чукотское</li>
		    <li>Н - Японское</li>
		</ul>
		При нахождении на континентальном шельфе указывается код “Ш” и код моря. ББББ – код уполномоченного органа, 
		осуществившего постановку на учет. ВВВВВВ – порядковый номер, присвоенный в процессе регистрации. Г – площадная характеристика: </br>
		<ul>
		    <li>Т - точечный</li>
		    <li>Л - линейный</li>
		    <li>П - площадной</li>
		</ul>
		После государственной регистрации индивидуальный код отображается в свидетельстве.   
	    </p>
	    <p id="people_think" align="justify">
		<b>Что обо всем этом думают россияне</b></br>
		Если верить социологическим опросам ВЦИОМа, россияне считают мусорные полигоны второй по значимости экологической
		 проблемой после загрязнения воздуха. При этом больше половины опрошенных считают, что вопросы, связанные с 
		окружающей средой, должны решать власти. Только пятая часть россиян говорит, что за сохранение природы ответственны и сами граждане.</br>
		Экологическая ситуация в России, опрос ВЦИОМа</br>
		Опрос ВЦИОМа показал, что 85% россиян готовы отказаться от пластиковых пакетов в супермаркетах. При этом 27% 
		опрошенных уже складывают покупки в сумку или рюкзак, которые принесли с собой. Производители многоразовых сумок 
		для покупок считают, что этот рынок вырастет примерно на 20% в ближайшие 3 года — прежде всего потому, что россияне 
		готовы отказываться от полиэтиленовых пакетов ради сохранения окружающей среды. 
	    </p>
	    <div><img src="{{ url_for('static', filename='people_think.png') }}"></div>
	    <p id="future" align="justify">
		<b>Мусор в России будущего</b></br>
		Пока же с мусором в стране все не очень хорошо: по оценкам Общественной палаты РФ, в 2017—2018 годах только в Подмосковье
	 	в протестах, связанных с утилизацией отходов, приняли участие около 36 тысяч человек. Например, в апреле 2018 года 7 тысяч жителей
	 	Волоколамска вышли на митинг за закрытие полигона «Ядрово»; тогда же серия протестов против строительства мусоросжигательного завода
		 прошла в Казани. А с апреля 2019 года в городах Архангельской области периодически проходят митинги против строительства нового 
		мусорного полигона в Шиесе. Всего же подобные проблемы остро стоят в 13 регионах страны.</br>
		Но государство тоже видит мусорную проблему и пытается с ней бороться. Еще в 2013 году в Министерстве природных ресурсов приняли большой
	 	документ — стратегию обращения с твердыми коммунальными отходами. Мусорная реформа — так ее называют в СМИ — рассчитана до 2030 года.
	 	Предполагается, что к этому моменту получится полностью изменить систему сбора и утилизации мусора. Вот как выглядит Россия будущего:</br>
		1. Еще со школы детей учат разделять мусор, не выбрасывать его где попало и вообще производить меньше отходов.</br>
		2. Незаконных свалок в стране больше нет, а на этих местах цветут сады. Тех, кто выбрасывает мусор где не положено, штрафуют.</br>
		3. Все россияне разделяют отходы. В каждой квартире под мойкой стоят два мусорных ведра: в одно надо выбрасывать то, что можно 
		переработать, — стекло, бумагу, пластик, в другое — все остальное.</br>
		4. Весь мусор, который можно снова пустить в дело, перерабатывают. Для этого по всей стране работают заводы, которые извлекают из
	 	отходов ценные компоненты. Из пищевых отходов производят компост и добывают метан, из дерева и опилок делают топливные брикеты.</br>
		5. Тех, кто выбрасывает на свалку пригодный для переработки мусор, наказывают.</br>
		6. Отходы, которые нельзя переработать, обезвреживают при высокой температуре. Свалки больше не воняют за версту, рядом с ними можно жить.</br>
		7. В каждом регионе работает только одна компания, которая отвечает за весь цикл обращения с отходами — начиная с вывоза контейнеров из 
		дворов и заканчивая переработкой. Такую компанию — она называется региональным оператором — выбирают по конкурсу раз в десять лет.</br>
		8. Тарифы на сбор и утилизацию отходов рассчитываются по понятным для всех формулам. В каждом регионе на всей его территории действует единый тариф.</br>
		9. Все счастливы.</br>
	    </p>
	    <p id="the_biggest_polygons" align="justify">
		<b>Самые большие полигоны мусора в России</b></br>
		С развитием цивилизации человечество стало продуцировать невероятное количество отходов, которые 
		складируются на санкционированных и стихийных полигонах. Наибольшее количество мусорохранилищ 
		сконцентрировано в Московской, Пермской, Волгоградской, Свердловской областях России. Горы отходов
		 разлагаются под открытым небом, отравляя воздух, почву и воду. Часть мусора закапывается, часть сжигается. 
		Полигоны захватывают миллионы гектаров земли, которую можно использовать как сельскохозяйственные угодья
		 или под застройку жилья. Плодородные земли погибают под тяжестью мусора.</br>
	    </p>
	    <div><img src="{{ url_for('static', filename='the_biggest_polygons.png') }}"></div>
	    <p align="justify">
		Использование пластика и других синтетических материалов приводит к тому, что разложение мусора происходит 
		медленно: для полного распада необходимы сотни и тысячи лет. Проблема переработки стоит остро и от ее решение 
		может зависеть дальнейшее существование планеты.
	    </p>
	    <div>
		<a href="#Krasny_Bor">Полигон химотходов Красный Бор</a></br>
		<a href="#Igumnovsky">Игумновский полигон</a></br>
		<a href="#Urupinsk">Стихийная свалка в центре Урюпинска</a></br>
		<a href="#Kulakovsy">Полигон "Кулаковский"</a></br>
		<a href="#Saratovsk">Свалка под Саратовом</a></br>
		<a href="#Sverdlovsk">Свалка в Свердловской области</a></br>
		<a href="#Shushary">Свалка в посёлке Шушары</a></br>
		<a href="#Shirokorechnaya">Полигон "Широкоречная"</a></br>
		<a href="#Novgorod">Нелегальная свалка в Новгородской области</a></br>
		<a href="#Moscow">Несанкционированные свалки в Подмосковье</a></br>
	    </div>
	    <p id="Krasny_Bor" align="justify">
		<b>Полигон химотходов "Красный Бор"</b></br>
		Этот полигон в России под Санкт-Петербургом прославился тем, что туда свозятся отходы химической промышленности. Котлован, вырытый
		 в слое кембрийской глины, собирает ядовитые отходы, содержащие свинец, мышьяк и ртуть. Во время проливных дождей котлован 
		переполняется водой, которая вытекает оттуда реками. Токсичные отходы попадают в Неву и Балтийское море. Западные экологи забили 
		тревогу по этому поводу, так как нарушено экологическое равновесие не только в РФ, но и в соседних странах Прибалтики и Скандинавии.</br>
		В настоящее время работает программа по уничтожению токсичных захоронений, но на самом деле поступление ядовитых отходов продолжается.</br>
	    </p>
	    <div><img src="{{ url_for('static', filename='krasny_bor.png') }}"></div>
	    <p id="Igumnovsky" align="justify">
		<b>Игумновский полигон твердых бытовых отходов</b></br>
		Самый большой Игумновский полигон России находится  в Нижегородской области. Огромные площади плодородных земель завалены гниющими 
		отходами, которые разлагаются под открытым небом и привлекают крыс, мышей, других переносчиков инфекций. В течение 20 лет слои мусора 
		медленно тлеют, задымленность окружающих территорий становится дополнительным фактором экологической катастрофы.</br>
		Официально мусороприемник прекратил свою работу, но экологические организации свидетельствуют, что по выходным нелегальные завозы 
		мусора продолжаются. Ситуация стала угрожающей.</br>
	    </p>
	    <div><img src="{{ url_for('static', filename='igumnovsky.png') }}"></div>
	    <p id="Urupinsk" align="justify">
		<b>Стихийная свалка в центре Урюпинска</b></br>
		Город Урюпинск в Волгоградской области России привлек внимание Минприроды созданной несанкционированной свалкой ТБО, территория 
		которой должна была временно использоваться до 2013 году. Запланированная организация полигона и мусороперегрузочной станции не 
		состоялась, в результате чего город задыхается от разложения отходов.</br>
		Мэр Урюпинска был вызван в столицу для объяснения сложившейся ситуации, а партия «Альянс зеленых» России наградила его символическим 
		антипризом «Осиновый кол».</br>
	    </p>
	    <div><img src="{{ url_for('static', filename='urupinsk.png') }}"></div>
	    <p id="Kulakovsy" align="justify">
		<b>Полигон «Кулаковский» в Московской области</b></br>
		В настоящее бедствие превратился Кулаковский полигон Московской области России возле деревни Манушкино. Площадь мусорного хранилища 
		составляет 10 гектар, время его работы составляет 60 лет. На данный момент его работа прекращена, но юридические лица, которые 
		эксплуатировали объект, не спешат вкладывать средства в его реструктуризацию. Говорят, что нелегальный завоз мусора продолжается, 
		а мусорные горы продолжают увеличиваться.</br>
	    </p>
	    <div><img src="{{ url_for('static', filename='kulakovsky.png') }}"></div>
	    <p id="Saratovsk" align="justify">
		<b>Свалка твердых бытовых отходов под Саратовом</b></br>
		Благодаря бездействию местных властей свалка под Саратовом в овраге Маханный выросла до катастрофических размеров. Туда свозится 
		металлические и строительные отходы, бытовой мусор, стеклобой. Комитет по охране природных ресурсов области направил заявление в 
		прокуратуру по поводу нанесения ущерба окружающей среде, который составил 100 миллионов рублей.</br>
	    </p>
	    <div><img src="{{ url_for('static', filename='saratov.png') }}"></div>
	    <p id="Sverdlovsk" align="justify">
		<b>Свалка химотходов в Березовском районе Свердловской области</b></br>
		Вблизи поселка Становая экологи с помощью аэрофотосъемки выявили нелегальное мусорохранилище. В карьере хранились отходы 
		нефтепродуктов в пластмассовых бочках, абразивный порошок в мешках, строительный мусор. В нескольких километрах от хранения 
		с токсичными отходами расположена водозаборная станция, обеспечивающая регион питьевой водой. Создавшаяся ситуация несет прямую 
		опасность для здоровья и жизни местных жителей.</br>
	    </p>
	    <div><img src="{{ url_for('static', filename='sverdlovsk.png') }}"></div>
	    <p id="Shushary" align="justify">
		<b>Свалка в поселке Шушары</b></br>
		Поселок Шушары в Ленинградской области России стал местом хранения строительного мусора. Свалка обнаружена экологами в 2013 году 
		и нанесла ущерб окружающей среде. Отходы строительства, которые образуются в результате сноса старых зданий, массово свозятся в 
		этот регион и нарушат баланс экосистемы.</br>
	    </p>
	    <div><img src="{{ url_for('static', filename='shushary.png') }}"></div>
	    <p id="Shirokorechnaya" align="justify">
		<b>Полигон “Широкоречная”</b></br>
		Хранилище мусора под Екатеринбургом в России, расположенное в лесном массиве, работает с 1960 года. Его ресурсы исчерпаны, 
		поэтому функционирование официально прекращено. Но нелегальный завоз мусорных отходов продолжается, жители прилегающих районов 
		жалуются на удушливый запах и сложную экологическую обстановку.</br>
		Проблемы свалок приобрели такую остроту, которая заставляет задуматься жителей России об изменении образа жизни и мышления. 
		Защита окружающей среды стала решающим моментом в выживании человечества. Успешная утилизация может стимулировать рост 
		перерабатывающей промышленности и поможет преодолеть проблему занятости.</br>
	    </p>
	    <div><img src="{{ url_for('static', filename='shirokorechnaya.png') }}"></div>
	    <p id="Novgorod" align="justify">
		<b>Нелегальная свалка в Парфинском районе Новгородской области</b></br>
		В 3 км от поселка Парфино в Новгородской области России найдена несанкционированная свалка мусора, которая вместила 6 тысяч 
		кубических метров отходов хозяйственной и промышленной деятельности. В результате этого природной среде нанесен ущерб 40 млн рублей.</br>
	    </p>
	    <div><img src="{{ url_for('static', filename='novgorod.png') }}"></div>
	    <p id="Moscow" align="justify">
		<b>Несанкционированные свалки в Подольском районе Подмосковья</b></br>
		Район стал одним из самых замусоренных в Московской области России благодаря стихийной организации нелегальных складов мусора. Дачники 
		и местные жители вынуждены организовывать бригады для препятствия завозу строительного мусора и твердых бытовых отходов. В 2008 году 
		возле поселка Бережки была обнаружена свалка с емкостями, которые содержали токсичные химические вещества:</br>
		1. едкий натрий;</br>
		2. фенолфталеин;</br>
		3. уксусный ангидрид;</br>
		4. толуол;</br>
		5. мышьяк;</br>
		6. аммоний;</br>
		7. едкий калий.</br>
		Несмотря на то, что яды вывезены, почва и грунтовые воды заражены. Ликвидировать последствия быстро не получиться, так как период 
		распада химических веществ длителен и составляет сотни лет.</br>
	    </p>
	    <div><img src="{{ url_for('static', filename='moscow.png') }}"></div>
{% endblock %}