
{% extends "base.html" %}

{% block content %}
	<div class="container">
	  <div class="row">
	    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <p align="right"><i>Экология - это изучение усилий человечества по ухудшению жизни на Земле.</i></p>
            <p align="right">Виктор Кротов</p>
	    <p align="justify">Сегодня в обиходе очень модный и актуальный термин — экология! Но что подразумевают люди, употребляя это слово в своей речи, вписывая его в статьи, научные работы и «отрывая» от него заветный кусочек «эко», чтобы «приклеить» к чему-то важному, например: «экопродукты», «экокожа», «эколайф»?</br>
На самом деле, «экология» — слово, состоящее из греческого «ойкос» — ‘дом’ и «логос» — ‘наука’. Получается, что дословно «экология» — это наука о доме. Но, конечно, само понятие намного шире, многограннее и интереснее, чем кажется, если отталкиваться от этого определения.</br>
Если погрузиться в осмысление всего, что значит этот модный термин, то можно открыть для себя много нового и весьма интересного, особенно для человека, который нацелен на правильный — здоровый — образ жизни.</br></p>
            <ul>
                <li><a href="http://127.0.0.1:8080/pollution_level">Уровень загрязнения окружающей среды</a></li>
                <li><a href="http://127.0.0.1:8080/garbage_and_society">Отходы и общество</a></li>
                <li><a href="http://127.0.0.1:8080/environmental_protection">Охрана окружающей среды</a></li>
                <li><a href="http://127.0.0.1:8080/dirty_cities">Самые "грязные" города России</a></li>
                <li><a href="http://127.0.0.1:8080/people">Лица, ответственные за экологию в России</a></li>
                <li><a href="http://127.0.0.1:8080/indicators">Состояние экологии России</a></li>
                <li><a href="http://127.0.0.1:8080/rbk_news">Немного новостей</a></li>
		<li><a href="http://127.0.0.1:8080/public">Обсуждения</a></li>
            </ul>
	</div></div>
	</div>
{% endblock %}