
{% extends "base.html" %}

{% block content %}
            <ul>
                <a href="#Kozlov">Козлов А.А.</a></br>
                <a href="#Anoprienko">Аноприенко С.М.</a></br>
                <a href="#Radchenko">Радченко С.Ю.</a></br>
                <a href="#Yastrebov">Ястребов С.Н.</a></br>
                <a href="#Tsiganov">Цыганов К.А.</a></br>
                <a href="#Tetenkin">Тетенькин д.Д.</a></br>
                <a href="#Kerimov">Керимов М.К.</a></br>
	    </ul>
	    <p id="Kozlov" align="justify">
		<b><u>Козлов Александр Александрович</u></b></br>
		<i>Министр природных ресурсов и экологии Российской Федерации</i></br>
		<b>Биография</b></br>
		Родился 2 января 1981 года в городе Южно-Сахалинске.</br>
		В 2003 году окончил Московскую академию предпринимательства при Правительстве города Москвы по специальности «Юриспруденция». 
		Присвоена квалификация «Юрист».</br>
		С 2000 по 2007 год занимал руководящие посты в компании ООО «Амурский уголь» в городе Райчихинске Амурской области.</br>
		В 2007 году - директор филиала ЗАО «Русский уголь» в городе Гуково Ростовской области.</br>
		В 2008 году - директор филиала ОАО «Русский уголь» в городе Благовещенск Амурской области.</br>
		С 2009 по 2010 год - генеральный директор ООО «Амурский уголь» в городе Райчихинск Амурской области.</br>
		2 февраля 2011 года - первый заместитель министра строительства, архитектуры и жилищно-коммунального хозяйства Амурской области.</br>
		23 декабря 2011 года - министр жилищно-коммунального хозяйства Амурской области.</br>
		С 14 сентября 2014 года - мэр г. Благовещенска Амурской области.</br>
		С 25 марта 2015 года - временно исполняющий обязанности губернатора Амурской области.</br>
		С 20 сентября 2015 года – губернатор Амурской области.</br>
		С 18 мая 2018 года – Министр Российской Федерации по развитию Дальнего Востока и Арктики.</br>
		10 ноября 2020 года – Министр природных ресурсов и экологии Российской Федерации.</br>
		<b>Координационные и совещательные органы, возглавляемые министром</b></br>
		<u>Общественный совет при Министерстве природных ресурсов и экологии РФ</u></br>
		<u>Коллегия Министерства природных ресурсов и экологии Российской Федерации</u></br>
		<u>Федеральный экологический совет при Минприроды России</u></br>
		<u>Совет по международному сотрудничеству в области геологии и недропользования Минприроды России</u></br>
		<u>Экспертный совет по особо охраняемым природным территориям при Минприроды России</u></br>
	    </p>
	    <p id="Anoprienko" align="justify">
		<b><u>Аноприенко Сергей Михайлович</u></b></br>
		<i>Заместитель Министра природных ресурсов и экологии Российской Федерации</i></br>
		<b>Биография</b></br>
		Дата рождения: 24 ноября 1970 года.</br>
		Место рождения: г. Новый Оскол Белгородской области.</br>
		Образование: Московское высшее общевойсковое командное училище им. Верховного Совета Российской Федерации, Российская академия 
		народного хозяйства и государственной службы при Президенте Российской Федерации, аспирантура Института менеджмента, экономики 
		и инноваций.</br>
		Классный чин: действительный государственный советник Российской Федерации 3 класса.</br>
		Трудовая деятельность:</br>
		До 2012 года ‒ работа в МЧС России.</br>
		С 2012 года ‒ работа на государственной гражданской службе в Федеральном агентстве по управлению государственным имуществом.</br>
		С 2016 года ‒ начальник Управления имущества федеральных органов власти и организаций в сфере обороны и безопасности Федерального 
		агентства по управлению государственным имуществом.</br>
		С 2017 года ‒ заместитель руководителя Федерального агентства по управлению государственным имуществом.</br>
		С 30 сентября 2019 года ‒ заместитель Министра природных ресурсов и экологии Российской Федерации – руководитель Федерального 
		агентства лесного хозяйства.</br>
	    </p>
	    <p id="Radchenko" align="justify">
		<b><u>Радченко Светлана Юрьевна</u></b></br>
		<i>Статс-секретарь, заместитель Министра природных ресурсов и экологии Российской Федерации</i></br>
		<b>Биография</b></br>
		Радченко Светлана Юрьевна окончила Современный гуманитарный институт по специальности «Юриспруденция» и Всесоюзный заочный 
		финансово-экономический институт по специальности «Бухгалтерский учет и аудит».</br>
		До своего назначения С.Радченко занимала должность директора Правового департамента Минприроды России, ранее работала в структурных 
		подразделениях министерства, отвечающих за юридическое сопровождение деятельности ведомства.</br>
		С.Радченко курирует вопросы нормотворчества, взаимодействия министерства с федеральными органами исполнительной власти по 
		совершенствованию законодательства, а также с обеими палатами российского парламента.</br>
	    </p>
	    <p id="Yastrebov" align="justify">
		<b><u>Ястребов Сергей Николаевич</b></u></br>
		<i>Заместитель Министра природных ресурсов и экологии Российской Федерации</i></br>
		<b>Биография</b></br>
		Сергей Николаевич Ястребов родился 30 июня 1954 г. Окончил Рыбинский авиационный технологический институт.</br>
		Начал свой трудовой путь в 1978 г. инженером-конструктором, инженером-технологом Рыбинского производственного 
		объединения моторостроения (г. Рыбинск, Ярославской область).</br>
		1979-1981 – Секретарь комитета ВЛКСМ объединения моторостроения Центрального райкома ВЛКСМ г. Рыбинска (Ярославская обл.);</br>
		1982-1985 – Второй секретарь, первый секретарь Рыбинского городского комитета ВЛКСМ, г. Рыбинск (Ярославская обл.);</br>
		1990-1992 – Председатель исполнительного комитета Фрунзенского района Совета народных депутатов г. Ярославля;</br>
		1992-2004 – глава администрации Фрунзенского района, глава территориальной администрации Кировского района г. Ярославля;</br>
		2004-2012 – Первый заместитель мэра г. Ярославля;</br>
		2012-2012 – заместитель губернатора Ярославской области;</br>
		2012-2016 – губернатор Ярославской области;</br>
		23.01.2017-н/в – заместитель Министра природных ресурсов и экологии РФ.</br>
		Женат, имеет двух дочерей.</br>
	    </p>
	    <p id="Tsiganov" align="justify">
		<b><u>Цыганов Константин Анатольевич</u></b></br>
		<i>Первый заместитель Министра природных ресурсов и экологии Российской Федерации</i></br>
		<b>Биография</b></br>
		Константин Анатольевич Цыганов родился 29 октября 1973 года в г. Темиртау (Казахстан).</br>
		В 1996 году с отличием окончил Московский государственный институт стали и сплавов (государственный технологический университет) 
		по специальности «Экономика и управление на предприятии (металлургия)». Присвоена квалификация «экономист-менеджер».</br>
		В 1998 году с отличием окончил Российскую академию государственной службы при Президенте Российской Федерации по специальности 
		«Юриспруденция». Присвоена квалификация «юрист».</br>
		С 2005 по 2016 гг. проходил повышение квалификации по бюджетному учету, финансовому контролю и контрактной системе в сфере закупок.</br>
		С 1997 по 1998 гг. - управляющий делами ПО «Московская гильдия риелторов».</br>
		С 1998 по 2003 гг. - заместитель начальника отдела экспериментальной застройки ЗАО «Центр содействия жилищной реформе» (г. Москва).</br>
		С 2003 по 2004 гг. - директор по управлению ООО «Мой дом. Управление жилищным фондом» (г. Москва).</br>
		С 2004 по 2017 гг. - проходил государственную гражданскую службу на различных должностях в Главном контрольном управлении Управления
		 делами Президента Российской Федерации, в том числе с апреля 2016 года в должности начальника отдела внутреннего финансового 
		аудита и контроля в сфере закупок.</br>
		С 2017 по 2019 гг. - советник Министра Российской Федерации по развитию Дальнего Востока и Арктики.</br>
		С сентября 2019 по январь 2021 гг. – заместитель Министра Российской Федерации по развитию Дальнего Востока и Арктики.</br>
		Имеет классный чин государственной гражданской службы Российской Федерации государственного советника Российской Федерации 2 класса.</br>
	    </p>
	    <p id="Tetenkin" align="justify">
		<b><u>Тетенькин Дмитрий Дмитриевич</u></b></br>
		<i>Заместитель Министра природных ресурсов и экологии Российской Федерации</i></br>
		<b>Биография</b></br>
		Тетенькин Дмитрий Дмитриевич родился в 1976 году, женат, двое детей.</br>
		С 1990 по 1999 гг. «Дальвостуголь».</br>
		С 2001 по 2006 гг. генеральный директор ООО «Райчихинские коммунальные системы».</br>
		С 2006 по 2012 гг. - директор «Ремонтно-механического завода», заместитель генерального директора ООО «Амурский уголь».</br>
		С 2012 по 2014 гг. - первый заместитель министра жилищно-коммунального хозяйства области Министерства жилищно-коммунального 
		хозяйства Амурской области.</br>
		С 2014 по 2015 гг. - заместитель главы администрации города Благовещенска, заместитель мэра города Благовещенска.</br>
		С 2015 по 2018 гг. - заместитель председателя Правительства, первый заместитель министра транспорта и строительства 
		области Министерства транспорта и строительства Амурской области.</br>
		С 2018 по 2020 гг. - советник Министра Российской Федерации по развитию Дальнего Востока и Арктики.</br>
		В 2020 г. - генеральный директор АО «Корпорация развития Дальнего Востока и Арктики».</br>
		С 2021 г. - заместитель Министра природных ресурсов и экологии Российской Федерации.</br>
		Награжден Почетной грамотой Амурской области, Благодарностью Министерства строительства и жилищно-коммунального хозяйства 
		Российской Федерации, в 2020 году Почетной грамотой Правительства Российской Федерации.</br>
	    </p>
	    <p id="Kerimov" align="justify">
		<b><u>Керимов Мурад Керимович</b></u></br>
		<i>Заместитель Министра природных ресурсов и экологии Российской Федерации</i></br>
		<b>Биография</b></br>
		Родился 10 июля 1978 г., г. Дербент</br>
		Образование:</br>
		1999 год - Высшее учебное заведение юридический колледж - специализированный институт юриспруденции – Московского государственного 
		университета им. М.В. Ломоносова</br>
		2000 год - Российский государственный университет нефти и газа им. И.М. Губкина;</br>
		2012 год - ФГБОУ ВПО «Российская академия народного хозяйства и государственной службы при Президенте Российской Федерации»</br>
		Кандидат юридических наук.</br>
		Трудовая деятельность:</br>
		03.2014 - 04.2016 – заместитель руководителя Федерального агентства водных ресурсов, г. Москва</br>
		09.2013 - 03.2014 - помощник полномочного представителя Президента Российской Федерации в Дальневосточном федеральном округе 
		Администрации Президента Российской Федерации, г. Хабаровск</br>
		03.2013 - 09.2013 - заместитель начальника департамента обеспечения деятельности Совета при Президенте Российской Федерации по развитию 
		физической культуры и спорта Управления Президента Российской Федерации по обеспечению деятельности Государственного совета 
		Российской Федерации Администрации Президента Российской Федерации, г. Москва</br>
		08.2011 - 03.2013 - советник федерального Министра на период полномочий Министра природных ресурсов и экологии Российской Федерации, г. Москва</br>
		12.2010 - 08.2011- заместитель начальника Департамента Федеральной службы по надзору в сфере природопользования по Центральному 
		федеральному округу Департамента Федеральной службы по надзору в сфере природопользования по Центральному федеральному округу, г. Москва</br>
		2000 - 2010 - помощник Пресненского межрайонного прокурора, помощник, старший помощник Лефортовского межрайонного прокурора, прокурор 
		отдела по надзору за исполнением законов в экологической сфере, на транспорте и в оборонном комплексе управления по надзору за соблюдением 
		федерального законодательства прокуратуры, заместитель межрайонного природоохранного прокурора г. Москвы Прокуратуры города Москвы, г. Москва</br>
		Классный чин:</br>
		действительный государственный советник Российской Федерации 2 класса</br>
		Награды:</br>
		Медаль Ордена «За заслуги перед Отечеством» II степени, 2014 г.</br>
		Почетная грамота Президента РФ, 2015 г.</br>
		Медаль «Адмирал флота Советского Союза С.Г. Горшков» Минобороны России, 2016 г. и другие ведомственные награды</br>
		Благодарность Председателя Совета Федераций ФС РФ В.И. Матвиенко, 2017 г.</br>
		Памятная медаль «XIX Всемирный фестиваль молодежи и студентов 2017 года в г. Сочи», 2018 г.</br>
		Благодарственное письмо Президента Российской Федерации, 2018 г.</br>
		<b>Курирует:</b></br>
		<u>Департамент государственной политики и регулирования в сфере охраны окружающей среды и экологической безопасности</u></br>
		<u>Департамент государственной политики и регулирования в сфере обращения с отходами производства и потребления</u></br>
	    </p>
{% endblock %}